<div class="container">
<h1>All Lists</h1>

<%= cl_image_tag("CLOUDINARY_URL=cloudinary://722325356631967:6QBK1dUP8Z4VrZT29_hcf36sB_g@djjt2zqch
",
      width: 200, height: 200, crop: :fill) %>

<% @lists.each do |list| %>
<li><%= list.name %></li>

<% end %>

</div>
