<div class="container">
<h1>New List</h1>

<% @list %>

<%= simple_form_for @list do |f| %>
          <%= f.input :name, placeholder: 'Drama' %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>

<br>

<div>
  <%= link_to "Back to Lists", lists_path %>
</div>
</div>
