<div class="container">

<div><%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %></div>

<% @bookmarks.each do |bookmark| %>
<div><%= bookmark.movie.title  %></div>
<div><%= bookmark.comment %></div>
<% end %>

<div>
  <%= link_to "New Bookmark", new_list_bookmark_path(@list) %>
</div>
</div>
